body {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
table {
  width: 100%;
  border: 3px solid black;
  text-align: center;
}
th,
td {
  border: 1px solid #1f1c1c;
  padding: 10px;
}

input[type="text"] {
  padding: 6px;
  margin-right: 8px;
}
button {
  padding: 6px 12px;
  cursor: pointer;
}
.delete-btn {
  background-color: #663232;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}
tr {
  background-color: rgb(246, 246, 248);
}
